.custom-pagination .page-link {
  color: rgb(37, 6, 6);
  background-color: #f8f9fa;
  border-color: #c4bebe85;
  font-weight: 500;
}

.custom-pagination .page-link:hover {
  color: #fff;
  background-color: #bf3001;
  border-color: #007bff;
}

.custom-pagination .page-item.active .page-link {
  background-color: #bf3001;
  border-color: #3a0e0e;
  color: #fff;
}
